<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New 블로그 게시판</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">

    <h1 class="mt-5">회원 가입 화면</h1>

    <!-- 전체 오류 메시지 (옵션) -->
    <div th:if="${errors != null}">
        <div class="alert alert-danger">
            입력값을 다시 확인해주세요.
        </div>
    </div>

    <div class="mt-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="card-title text-center mb-4">회원정보 입력</h3>

                <form th:action="@{/api/members}" th:object="${addMemberRequest}" method="post">

    <!-- 이름 -->
    <div class="form-group">
        <label>이름</label>
        <input th:field="*{name}" class="form-control">
        <p class="text-danger" th:errors="*{name}"></p>
    </div>

    <!-- 이메일 -->
    <div class="form-group">
        <label>이메일</label>
        <input th:field="*{email}" class="form-control">
        <p class="text-danger" th:errors="*{email}"></p>
    </div>

    <!-- 비밀번호 -->
    <div class="form-group">
        <label>비밀번호</label>
        <input th:field="*{password}" type="password" class="form-control">
        <p class="text-danger" th:errors="*{password}"></p>
    </div>

    <!-- 나이 -->
    <div class="form-group">
        <label>나이</label>
        <input th:field="*{age}" class="form-control">
        <p class="text-danger" th:errors="*{age}"></p>
    </div>

    <!-- 휴대폰 -->
    <div class="form-group">
        <label>휴대폰</label>
        <input th:field="*{mobile}" class="form-control">
        <p class="text-danger" th:errors="*{mobile}"></p>
    </div>

    <!-- 주소 -->
    <div class="form-group">
        <label>주소</label>
        <input th:field="*{address}" class="form-control">
        <p class="text-danger" th:errors="*{address}"></p>
    </div>

    <button class="btn btn-primary btn-block mt-3">회원가입</button>

</form>

            </div>
        </div>
    </div>

</div>
</body>
</html>
