<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>파일 업로드</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="container mt-5">

    <h2 class="mb-4">파일 업로드 하기</h2>

    <!-- 업로드 폼 -->
    <form th:action="@{/upload}" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label>파일 1 선택</label>
            <input type="file" class="form-control" name="file1" required>
        </div>

        <div class="form-group">
            <label>파일 2 선택</label>
            <input type="file" class="form-control" name="file2" required>
        </div>

        <button type="submit" class="btn btn-primary mt-3">업로드</button>

    </form>

</body>
</html>
